body {
  background-color: hsl(216, 12%, 8%);
  color: white;
  display: flex;
  justify-content: center;
  font-family: 'overpass', sans-serif;
}

.containt {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: hsl(213, 19%, 18%);
  border-radius: 10px;
  width: 500px;
  height: 400px;
  margin-top: 100px;
}

.rating {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-around;
}

.rate {
  display: flex;
  background-color: hsl(217, 12%, 63%);
  color: white;
  border: none;
  border-radius: 30px;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
}
.fav {
  color: hsl(25, 97%, 53%);
}

li {
  border-radius: 30px;
}

.rate:hover {
  border-radius: inherit;
  height: 50px;
  width: 50px;
}

.active {
  background-color: hsl(25, 97%, 53%);
}

ul {
  display: flex;
  margin-top: 30px;
}

ul :hover {
  background-color: hsl(25, 97%, 53%);
  cursor: pointer;
}

.fav {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  background-color: hsl(217, 12%, 63%);
}

.fav a {
  text-decoration: none;
  color: hsl(25, 97%, 53%);
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: hsl(25, 97%, 53%);
  color: white;
  padding: 10px;
  border-radius: 40px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.button:hover {
  background-color: hsl(217, 12%, 63%);
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

button a {
  text-decoration: none;
  color: white;
}

img {
  display: flex;
  align-self: center;
  width: 300px;
}

.resultat {
  display: flex;
  align-self: center;
  color: hsl(25, 97%, 53%);
}

h2,
p {
  display: flex;
  align-self: center;
}
.resultat {
  display: flex;
  margin-top: 10px;
}

.thanks {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  flex-wrap: wrap;
  line-height: 1px;
}
